extends template_full

block content

  if results.type === "single"
    // One-liners
    h3= results.joke 
  else if results.type === "twopart"
    // Separate setup and delivery
    h3= results.setup 
    h3= results.delivery
  else 
    h3 Unrecognized joke format.  Expand the JSON below and check the 'type'.
  
  br
  select#jokeCategory.ui.dropdown
    option(value="Any") All types
    option(value="Misc") Miscellaneous
    option(value="Programming") Programming
    option(value="Pun") Puns
    option(value="Spooky") Spooky

  button#nextButton.ui.simple.green.inverted.button
    i.icon.smile
    | Tell me another!

  br
  div#moreJokes
    // Additional jokes will be prepended here when the user clicks the button

  div.ui.divider
  br
  details
    summary Full JSON from server-side joke:
    pre= JSON.stringify(results, null, 2)

  script.
    console.log("Loading jokes page...");
    $('.ui.dropdown').dropdown({
      onChange: function(value, text, $selectedItem) {
        console.log("Selected joke category: " + text);
      }
    });

    $("#nextButton").click(async function() {
      const category = $("#jokeCategory").dropdown("get value");
      console.log("Fetching another %s joke...", category);

      try {
        const fetchResponse = await fetch(
          `https://v2.jokeapi.dev/joke/${category}?safe-mode`
        );

        const fetchedJson = await fetchResponse.json();
        console.log("Fetched JSON", fetchedJson);

        if (fetchedJson.type === "single") {
          // One-liners
          $("#moreJokes").prepend("<h3>" + fetchedJson.joke + "</h3>");
          $("#moreJokes").prepend("<div class='ui divider'/>");
        } else if (fetchedJson.type === "twopart") {
          // Separate setup and delivery (note prepending in reverse order)
          $("#moreJokes").prepend("<h3>" + fetchedJson.delivery + "</h3>");
          $("#moreJokes").prepend("<h3>" + fetchedJson.setup + "</h3>");
          $("#moreJokes").prepend("<div class='ui divider'/>");
        } else {
          console.error("Unrecognized joke format type")
        }
      } catch (error) {
        console.error("Failed to get new joke", error);
      }
    }); 